* {
    box-sizing: border-box;
    }
    .container{
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        flex-wrap: wrap;
        height: 100vh;
        width: 100vh;
        border-width: 7px;
        border-style: solid;
        border-color: black;
    }

    .blackbox{
        align-content: center;
        flex-grow: initial;
        border-width: 7px;
        border-style: solid;
        border-color: black;
        background-color: slategrey;
        width: 12.5%;
        height: 12.5%;
        image-rendering: auto;
    }
    /* .img{
        align-content: center;
        flex-grow: initial;
        width: 12.5%;
        height: 12.5%;
        
    } */
    .tanbox{
        align-content: center;
        flex-grow: initial;
        border-width: 7px;
        border-style: solid;
        border-color: black;
        background-color: tan;
        width: 12.5%;
        height: 12.5%;

    }